.forum-page {
    background:rgb(19, 19, 23);
}

.forum-home {
    padding-top:3.5rem;
    margin-left: 15%;
    border-radius:1rem;
}

/* .forum-items {
    border-radius:3rem;
    border:1px solid;
} */