.App {
    text-align: center;
    background-color: #819cdb;
    color: whitesmoke;
    background-image: url(../images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height : 100%;
    padding-top: .01rem;
}

.body-content {
   background: transparent;
   height: 100%;
}
