.main-home {
    margin: 3.5rem auto auto 0;
    justify-content: center;
    padding-bottom:6rem;
    height: calc(100vh - 3.5rem);
    background-image: url(../../images/cube.jpeg);;
    background-size: cover;
}
.welcome-txt{
    background: transparent;
}
.main-intro {
    text-align: justify;
    max-width: 50rem;
    padding: 0 0 0 4rem;
    font-size: 1.6rem;
    align-content:flex-end;
    padding-top: 6rem;
    background: transparent;
}
.main-intro h1 {
    color: rgb(223, 235, 255);
    font-size: 4rem;
    font-family:sans-serif;
    background:transparent;
    text-align: left;
    border-bottom: 1px solid;
}
.main-intro h3 {
    color: rgb(162, 179, 207);
    margin-top: -.5rem;
    background:transparent;
}
.mail-sub {
    margin: .5rem;
    background:transparent;
}
.mail-sub input, button {
    color: white;
    padding: .8rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    border: 0px;
}
.mail-sub label {
    font-size: 1.2rem;
    margin-left: .4rem;
    background:transparent;
}
.mail-sub input {
    background: lightgrey;
    color: rgb(43, 40, 40);
    width: 50%;
    min-width: 20rem;
}
.mail-sub button {
    background: #2ea54f;
    color: antiquewhite;
    font-weight: 600;
}

@media (max-width: 1300px) {
    .main-intro h3 {
        max-width:89%;
    }
}

@media (max-width: 1200px) {
    .main-intro h3 {
        max-width: 89%;
    }
}

        /* Mobile first home page */

@media (max-width:600px) {
    .main-home {
        margin-left:0;
        align-items: center;
    }

.main-intro {
    font-size: 1.2rem;
    padding: 5rem 0 1rem 0;
}
.main-intro h1 {
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    text-align: center
}
.main-intro h3 {
    background:transparent;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    color: rgba(167, 166, 166, 0.902);
}
.mail-sub {
    margin: .5rem;
    background:transparent;
    justify-content: center;
    max-width: 27rem;
    margin: 0 auto;
    padding:0 1rem;
}
.mail-sub input, button {
    padding: .6rem 1rem;
    margin: 0 auto;
    font-size: 1.2rem;
}
.mail-sub label {
    font-size: 1rem;
    margin-left: .4rem;
    background:transparent;
}
.mail-sub input {
    width: 100%;
    min-width: 10rem;
    margin-bottom: .5rem;
    margin: .5rem auto;
}
.mail-sub button {
    margin: 0 auto;
    width: 100%;
    /* max-width: 20rem; */
}
}

.about-dev, .hacks-page {
    height: 100vh;
    background-color: #040D21;
    padding:2rem 1rem;
    display: grid;
    align-items: center;
}
.about-text {
    max-width:50rem;
    margin: 7%;
}
.about-text h1 {
    text-align: start;
}
.about-text h3 {
    margin-top: 2rem;
    text-align: justify;
    width: 90%;
}
.about-img {
    display: flex;
    height: 100%;
    align-items: center;
}
@media (max-width: 800px) {
    .about-img {
        display:none;
    }
    .about-info {
        grid-template-columns: 100%;
        display:block;
    }
}

.hacks-page, .footer {
    background-color: #040D21;
}
.hacks-page .text-center {
    margin:0 auto
}