.tsp {
    background: transparent;
}
.homeStick-nav {
    position: fixed;
    top: 0;
    z-index:2;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: rgba(4, 6, 13, 0.938);
    height:3.5rem;
}
.nav-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-burger {
    display: none;
}
.logo {
    width:15%;
    align-items: center;
    min-width: 12rem;
    margin-left: .5rem;
}
.logo img {
    width:100%;
    background: transparent;
}

.logo2 {display:none;}
.search-box {
    width: 25%;
    min-width: 15rem;
}
.search-box i {
    position: relative;
    cursor: pointer;
    left:-2rem;
    margin-right: -2rem;
    font-size: 1.3rem;
    bottom: -.2rem;
}
.navBar {
    min-width:12rem;
}

.search-box input {
    color: #fff;
    width: 100%;
    height:2.4rem;
    padding: .7rem;
    border-radius: .35rem;
    border: 1px solid gray;
    background: rgba(124, 121, 121, 0.217);
}
.nav-items {
    /* margin-right: auto; */
    float: left;
    display:flex;
}
.nav-items ul {
    display:flex;
    justify-content:space-between;
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.nav-items li {
    text-decoration: none;
}
.navList {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 .5rem;
}

.navList li {
    background: transparent;
    border-radius: .2rem;
    float: right;
}
.link {
    text-decoration: none !important;
    font-size: 1.3rem;
    color: rgb(204, 215, 241);
    padding: .5rem .7rem;
    margin: 0;
}
.link:hover {
    color: rgb(140, 157, 180);
}
.ls {
    text-decoration: none !important;
    font-size: 1.3rem;
    color: #61dafb;
    padding: .5rem;
    background: rgba(104, 145, 150, 0.101);
    border-radius: .2rem;
    margin-left: .5rem;
}
.ls:hover {
    background: rgba(110, 135, 133, 0.348);
}
li i {
    margin-right: .5rem;
    background: transparent;
}
@media (max-width: 1000px){
    .logo {
        display:none;}
    .logo2 {
        display:flex;
        width:10%;
        min-width:4rem;
    }
    .logo2 img {
        width: 100%;
        max-width:3rem;
        max-height: 3rem
    }
    .navBar {
        display: flex;
        justify-content:flex-end;
        max-width: 45%;
        min-width: 8.5rem;
    }
    .navBar .ls {
        font-size: 1rem;
        color: #61dafb;
        padding: .4rem;
    }
    .App-header {
        display: flex;
        align-items: center;
    }
    .li {
    text-decoration: none !important;
    font-size: 1.1rem;
    color: rgb(204, 215, 241);
    padding: .5rem .5rem;
    margin: 0;
}
}

@media (max-width: 800px) {
    .nav-items {
        display: none;
    }
    .nav-burger {
        display: block;
        background: transparent;
        cursor: pointer;
        width:43%;
        margin-right: .4rem;
    }
    .nav-burger i {
        font-size: 2rem;
        margin: 1rem 1rem;
    }
    .nav-burger i:active{
        transform: rotate(90deg);
    }
}
@media (max-width: 540px) {
    .search-box {
        display: none;   
    }
    .navBar{
        min-width:9.8rem;
    }
}