.tsp {
    background: transparent;
}
.stick-nav {
    position: fixed;
    top: 0;
    z-index:2;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.158);
    max-height: 3.5rem;
}

.navBar {
    display: flex;
    text-align: center;
    border-radius: .3rem;
}
.nav-burger {
    display: none;
}
.logo {
    width:15%;
    align-items: center;
    min-width: 12rem;
    margin-left: .5rem;
}
.logo img {
    width:100%;
    background: transparent;
}

.navList {
    list-style: none;
    display: flex;
    text-align: center;
}

.navList li {
    background: transparent;
}
.ls {
    text-decoration: none !important;
    margin-right: 2rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: #61dafb;
    padding: 0;
    background: transparent;
    transition: color 150ms;
    transition: background 150ms;
    transition: padding 150ms;
}
.ls:hover {
    color: rgb(191, 235, 232);
    transform: scale(1.1);
    padding:.5rem;
    background: rgba(126, 216, 228, 0.301);
    border-radius: .2rem
}
li i {
    margin-right: .5rem;
    background: transparent;
}

@media (max-width: 650px) {
    .ls {
        margin-left: -.7rem;
    }
}
@media (max-width: 650px) {
    .ls {
        margin-left: -.7rem;
    }
}
@media (max-width: 805px) {
    .navList .ls i {
        display: none;
    }
}
@media (max-width: 600px) {
    .navBar {
        display: none;
    }
    .App-header {
        display: flex;
        align-items: center;
    }
    .nav-burger {
        display: block;
        background: transparent;
    }
    .nav-burger i {
        font-size: 2rem;
        margin: 1rem 2rem;
    }
    .nav-burger i:active{
        transform: rotate(90deg);
    }

    .logo {
        width: 6.3rem;
    }
}
