.bar {
    width: 10rem;
    position: fixed;
    height: 100%;
    border-right: 2px solid lightgreen;
    padding-left: .5rem;
}
.bar ul {
    margin: 2rem 0rem 0 -2rem;
    background: transparent;
}
.bar li {
    list-style: none;
    float: left;
    margin: .8rem auto;
    font-family:Arial, Helvetica, sans-serif;
    padding: .5rem 0;
    background: transparent;
    transition: background 350ms;
}

.sbli {
    color: rgb(194, 240, 240);
    text-decoration: none;
    background: transparent
}

.bar i {
    margin-right: .8rem;
    font-size: 1.4rem;
    color: aqua;
}

.bar li:hover {
    transform: scale(1.05);
    color: aqua;
    background: rgba(137, 228, 228, 0.171);
    padding: .5rem;
    border-radius: .3rem;
}

.bar li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background:rgb(64, 200, 224);
    transition: width 350ms;
}
.bar li:hover::after {
    width: 100%;
}
.bar li:active::after {
    width: 70%;
}

@media  (max-width: 600px) {
    .bar[data-visible="false"] {
        display: none;
    }
    
    .bar[data-visible="true"] {
        display: block;
        background: rgba(0, 0, 0, 0.726);
    }
    
}